/* RobotoSlab */
@font-face {
    font-family: "RobotoSlab-Black";
    src: url("../fonts/RobotoSlab-Black.ttf");
}

@font-face {
    font-family: "RobotoSlab-Bold";
    src: url("../fonts/RobotoSlab-Bold.ttf");
}

@font-face {
    font-family: "RobotoSlab-ExtraBold";
    src: url("../fonts/RobotoSlab-ExtraBold.ttf");
}

@font-face {
    font-family: "RobotoSlab-ExtraLight";
    src: url("../fonts/RobotoSlab-ExtraLight.ttf");
}

@font-face {
    font-family: "RobotoSlab-Light";
    src: url("../fonts/RobotoSlab-Light.ttf");
}

@font-face {
    font-family: "RobotoSlab-Medium";
    src: url("../fonts/RobotoSlab-Medium.ttf");
}

@font-face {
    font-family: "RobotoSlab-Regular";
    src: url("../fonts/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: "RobotoSlab-SemiBold";
    src: url("../fonts/RobotoSlab-SemiBold.ttf");
}

@font-face {
    font-family: "RobotoSlab-Thin";
    src: url("../fonts/RobotoSlab-Thin.ttf");
}